.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--gradient-bg);
  position: relative;
  overflow: hidden;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-top: 9rem; /* Added top padding */
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  z-index: 2; /* Ensure content is above bubbles */
}

.textContent {
  text-align: left;
  margin-right: 4rem;
}

.title {
  font-family: 'AttackOnCourier', monospace;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.message {
  font-family: 'OldNewspaper', Arial, sans-serif;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.6;
  color: #369bcb;
}

.backButton {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: 25px;
  transition: all 0.3s ease;
  font-weight: bold;
  text-transform: uppercase;
}

.backButton:hover {
  background-color: var(--secondary-color);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.imageContainer {
  max-width: 400px;
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(1.05);
}

@media (max-width: 1000px) {
  .content {
    flex-direction: column-reverse;
    align-items: center;
  }

  .textContent {
    text-align: center;
    margin-right: 0;
    margin-top: 0.5rem;
  }

  .imageContainer {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2.5rem;
  }

  .message {
    font-size: 1rem;
  }

  .imageContainer {
    max-width: 300px;
  }
}